<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueName" value="sagademo_server"/>
    <add key="SubscriptionsTableName" value="Rebus_Subscriptions"/>
    <add key="SagaDataTableName" value="Rebus_SagaData"/>
    <add key="SagaIndexTableName" value="Rebus_SagaIndex"/>
    <add key="TimeoutsTableName" value="Rebus_Timeouts"/>
  </appSettings>
  <connectionStrings>
    <add name="RebusDatabase" connectionString="server=db; database=master;user id=sa;password=Your_password123;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>