<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubscriptionsTableName" value="Rebus_Subscriptions"/>
  </appSettings>
  <connectionStrings>
    <add name="RebusDatabase" connectionString="server=db; database=rebus_sagademo; trusted_connection=true;MultipleActiveResultSets=True"/>
  </connectionStrings>
 </configuration>